@model InventoryBinViewModel.IndexViewModel
@inject IViewLocalizer Localizer
@inject IStringLocalizerFactory Factory

@{
    var CommonLocalizer = Factory.Create("Views.Shared.Common", Assembly.GetExecutingAssembly().GetName().Name!);
    ViewData["Title"] = CommonLocalizer["BinStock"];
    ViewData["Camera"] = true;
}

<div class="text-center mb-4">
    <h2 class="d-inline-block border-bottom border-1 border-primary pb-2">
        @CommonLocalizer["BinStock"]
    </h2>
</div>

<input type="hidden" id="codescan" />

@await Html.PartialAsync("_Location", Model.Locations)

@await Html.PartialAsync("_Search", Localizer["SearchPlaceholder"].Value)

<div id="collectionContainer">
    @if (Model != null && Model.Items?.Any() == true)
    {
        @await Html.PartialAsync("_CollectionBinStock", Model.Items)
    }
    else
    {
        <span class="text-muted d-flex justify-content-center pt-3 alert alert-info">@CommonLocalizer["NoItem"]</span>
    }
</div>

@section Scripts {
    <script>
        const originalData = @Html.Raw(JsonSerializer.Serialize(Model?.Items ?? null))
        const ViewMode = @JsonSerializer.Serialize(ViewBag.Mode == AppEnum.DataMode.View).ToLower();
        const SearchItemsBinStockUrl = '@Url.Action("SearchItemsBinStock")'
        // Localized strings for JavaScript
        window.LocalizedStrings = {
            lock: '@Localizer["Lock"]',
            unlock: '@Localizer["Unlock"]',
            unlockWarning: '@Localizer["UnlockWarning"]'
        };
    </script>
    <script src="@Url.Content("~/lib/html2canvas/v1.4.1/html2canvas.min.js")"></script>
    <script src="@Url.Content("~/js/Pages/InventoryBin.js")"></script>
}